#Github workflow to push the application image
name: Deploy App image to ECR

on:
# Triggering workflow on push and pull
  push:
    branches: [ main ]
    
env:
  IMAGE_TAG: v1.6    
  
jobs:
  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        ECR_REPOSITORY:
          - final_project
    
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
          AWS_REGION: us-east-1
      
      - name: Build Docker Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          #cd ${{ matrix.ECR_REPOSITORY }}/
          ls -ltra
          # Build Docker image
          docker build -t 062250909988.dkr.ecr.us-east-1.amazonaws.com/final:$IMAGE_TAG .
      
      #- name: Test Image
       # env:
        #  ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        #run: |
         # docker run -d -p 81:81 --name nodeapp $ECR_REGISTRY/${{ matrix.ECR_REPOSITORY }}:$IMAGE_TAG
          #docker ps
          #echo "Put Pause for 15 seconds and let container start"
          #sleep 15
          #curl localhost:81 -vvv
          
      - name: Push Image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          # Push simple-webapp-mysql image to AWS ECR
          echo "Pushing simple-webapp-mysql image to ECR >>>"
          docker push  062250909988.dkr.ecr.us-east-1.amazonaws.com/final:$IMAGE_TAG
